@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
.headerPlace ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4c6fbf;
  padding-left: 0px;
}

.headerPlace li{
  float: right;
  transition: 0.7s;
}

.headerPlace li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  
}

.headerPlace li a:hover {
  background-color: #355cb6;
  color: #ffffff;
}

#logout{
  background-color: #4265b6 ;
  transition: 0.7s;
}
#logout:hover{
  background-color: #b64242 ;
}
.fixedFloat{
  position: fixed;
  margin-right: 40px;
}
